In [1]:
import pandas as pd
import numpy as np
train=pd.read_excel('Final_Train.xlsx')
test=pd.read_excel('Final_Test.xlsx')
submission=pd.read_excel('Sample_submission.xlsx')

In [2]:
train.head()

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,"BHMS, MD - Homeopathy",24 years experience,100%,"Kakkanad, Ernakulam",Homeopath,"100% 16 Feedback Kakkanad, Ernakulam",100
1,"BAMS, MD - Ayurveda Medicine",12 years experience,98%,"Whitefield, Bangalore",Ayurveda,"98% 76 Feedback Whitefield, Bangalore",350
2,"MBBS, MS - Otorhinolaryngology",9 years experience,NaN,"Mathikere - BEL, Bangalore",ENT Specialist,NaN,300
3,"BSc - Zoology, BAMS",12 years experience,NaN,"Bannerghatta Road, Bangalore",Ayurveda,"Bannerghatta Road, Bangalore ₹250 Available on...",250
4,BAMS,20 years experience,100%,"Keelkattalai, Chennai",Ayurveda,"100% 4 Feedback Keelkattalai, Chennai",250

In [3]:
print(train.shape)
train.isnull().sum()

(5961, 7)

Qualification            0
Experience               0
Rating                3302
Place                   25
Profile                  0
Miscellaneous_Info    2620
Fees                     0
dtype: int64

In [4]:
test.head()

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info
0,MBBS,35 years experience,NaN,"Ghatkopar East, Mumbai",General Medicine,NaN
1,"MBBS, Diploma in Otorhinolaryngology (DLO)",31 years experience,NaN,"West Marredpally, Hyderabad",ENT Specialist,NaN
2,"MBBS, DDVL",40 years experience,70%,"KK Nagar, Chennai",Dermatologists,"70% 4 Feedback KK Nagar, Chennai"
3,BAMS,0 years experience,NaN,"New Ashok Nagar, Delhi",Ayurveda,NaN
4,"BDS, MDS - Conservative Dentistry & Endodontics",16 years experience,100%,"Kanakpura Road, Bangalore",Dentist,General Dentistry Conservative Dentistry Cosme...

In [5]:
print(test.shape)
test.isnull().sum()

(1987, 6)

Qualification            0
Experience               0
Rating                1090
Place                    6
Profile                  0
Miscellaneous_Info     834
dtype: int64

In [6]:
train['e1'],train['e2'],train['e3']=train['Experience'].str.split(' ',-1).str
test['e1'],test['e2'],test['e3']=test['Experience'].str.split(' ',-1).str

In [7]:
train['Profile'].unique()

array(['Homeopath', 'Ayurveda', 'ENT Specialist', 'Dentist',
       'General Medicine', 'Dermatologists'], dtype=object)

In [8]:
train['p1'],train['p2'],train['p3']=train['Place'].str.split(',',-1).str
test['p1'],test['p2']=test['Place'].str.split(',',-1).str

In [9]:
train['p2'].isnull().sum()

26

In [10]:
test.head()

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,e1,e2,e3,p1,p2
0,MBBS,35 years experience,NaN,"Ghatkopar East, Mumbai",General Medicine,NaN,35,years,experience,Ghatkopar East,Mumbai
1,"MBBS, Diploma in Otorhinolaryngology (DLO)",31 years experience,NaN,"West Marredpally, Hyderabad",ENT Specialist,NaN,31,years,experience,West Marredpally,Hyderabad
2,"MBBS, DDVL",40 years experience,70%,"KK Nagar, Chennai",Dermatologists,"70% 4 Feedback KK Nagar, Chennai",40,years,experience,KK Nagar,Chennai
3,BAMS,0 years experience,NaN,"New Ashok Nagar, Delhi",Ayurveda,NaN,0,years,experience,New Ashok Nagar,Delhi
4,"BDS, MDS - Conservative Dentistry & Endodontics",16 years experience,100%,"Kanakpura Road, Bangalore",Dentist,General Dentistry Conservative Dentistry Cosme...,16,years,experience,Kanakpura Road,Bangalore

In [11]:
test['p2'].isnull().sum()

6

In [12]:
train['q1'],train['q2'],train['q3'],train['q4'],train['q5'],train['q6'],train['q7'],train['q8'],train['q9'],train['q10']=train['Qualification'].str.split(',',-1).str

In [13]:
test['q1'],test['q2'],test['q3'],test['q4'],test['q5'],test['q6'],test['q7'],test['q8'],test['q9'],test['q10'],test['q11'],test['q12'],test['q13'],test['q14'],test['q15'],test['q16'],test['q17']=test['Qualification'].str.split(',',-1).str

In [14]:
train['Rating']=train['Rating'].fillna('Not Available')
test['Rating']=test['Rating'].fillna('Not Available')

In [15]:
train['p2']=train['p2'].fillna('Not Available')
test['p2']=test['p2'].fillna('Not Available')

In [16]:
train=train.fillna('No')
test=test.fillna('No')

In [17]:
train.isnull().sum()

Qualification         0
Experience            0
Rating                0
Place                 0
Profile               0
Miscellaneous_Info    0
Fees                  0
e1                    0
e2                    0
e3                    0
p1                    0
p2                    0
p3                    0
q1                    0
q2                    0
q3                    0
q4                    0
q5                    0
q6                    0
q7                    0
q8                    0
q9                    0
q10                   0
dtype: int64

In [18]:
test.isnull().sum()

Qualification         0
Experience            0
Rating                0
Place                 0
Profile               0
Miscellaneous_Info    0
e1                    0
e2                    0
e3                    0
p1                    0
p2                    0
q1                    0
q2                    0
q3                    0
q4                    0
q5                    0
q6                    0
q7                    0
q8                    0
q9                    0
q10                   0
q11                   0
q12                   0
q13                   0
q14                   0
q15                   0
q16                   0
q17                   0
dtype: int64

In [19]:
train1=train[['q1','q2','q3','q4','q5','q6','q7','q8','q9','q10','e1','Rating','p2','Profile','Fees']]
test1=test[['q1','q2','q3','q4','q5','q6','q7','q8','q9','q10','e1','Rating','p2','Profile']]

In [20]:
train1.shape

(5961, 15)

In [21]:
test1.shape

(1987, 14)

In [22]:
data_temp=[train1[['q1','q2','q3','q4','q5','q6','q7','q8','q9','q10','e1','Rating','p2','Profile']],test1]
data_temp=pd.concat(data_temp)

In [23]:
dd1=[data_temp['q1'],data_temp['q2'],data_temp['q3'],data_temp['q4'],data_temp['q5'],data_temp['q6'],data_temp['q7'],data_temp['q8'],data_temp['q9'],data_temp['q10']]
dd1=pd.concat(dd1)

In [24]:
dd1.head()

0             BHMS
1             BAMS
2             MBBS
3    BSc - Zoology
4             BAMS
dtype: object

In [25]:
data_temp.shape

(7948, 14)

In [26]:
from sklearn.preprocessing import LabelEncoder

q = LabelEncoder()
r = LabelEncoder()
p2 = LabelEncoder()
pr = LabelEncoder()

q.fit(dd1.unique())
r.fit(data_temp['Rating'].unique())
p2.fit(data_temp['p2'].unique())
pr.fit(data_temp['Profile'].unique())

LabelEncoder()

In [27]:
train1['q1'] = q.transform(train1['q1'])
train1['q2'] = q.transform(train1['q2'])
train1['q3'] = q.transform(train1['q3'])
train1['q4'] = q.transform(train1['q4'])
train1['q5'] = q.transform(train1['q5'])
train1['q6'] = q.transform(train1['q6'])
train1['q7'] = q.transform(train1['q7'])
train1['q8'] = q.transform(train1['q8'])
train1['q9'] = q.transform(train1['q9'])
train1['q10'] = q.transform(train1['q10'])
train1['Rating'] = r.transform(train1['Rating'])
train1['p2'] = p2.transform(train1['p2'])
train1['Profile'] = pr.transform(train1['Profile'])

test1['q1'] = q.transform(test1['q1'])
test1['q2'] = q.transform(test1['q2'])
test1['q3'] = q.transform(test1['q3'])
test1['q4'] = q.transform(test1['q4'])
test1['q5'] = q.transform(test1['q5'])
test1['q6'] = q.transform(test1['q6'])
test1['q7'] = q.transform(test1['q7'])
test1['q8'] = q.transform(test1['q8'])
test1['q9'] = q.transform(test1['q9'])
test1['q10'] = q.transform(test1['q10'])
test1['Rating'] = r.transform(test1['Rating'])
test1['p2'] = p2.transform(test1['p2'])
test1['Profile'] = pr.transform(test1['Profile'])

C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [28]:
train1.head()

,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,e1,Rating,p2,Profile,Fees
0,860,576,1018,1018,1018,1018,1018,1018,1018,1018,24,0,4,5,100
1,857,563,1018,1018,1018,1018,1018,1018,1018,1018,12,50,0,0,350
2,954,680,1018,1018,1018,1018,1018,1018,1018,1018,9,52,0,3,300
3,866,25,1018,1018,1018,1018,1018,1018,1018,1018,12,52,0,0,250
4,857,1018,1018,1018,1018,1018,1018,1018,1018,1018,20,0,1,0,250

In [29]:
test1.head()

,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,e1,Rating,p2,Profile
0,954,1018,1018,1018,1018,1018,1018,1018,1018,1018,35,52,6,4
1,954,288,1018,1018,1018,1018,1018,1018,1018,1018,31,52,5,3
2,954,152,1018,1018,1018,1018,1018,1018,1018,1018,40,22,1,2
3,857,1018,1018,1018,1018,1018,1018,1018,1018,1018,0,52,3,0
4,858,616,1018,1018,1018,1018,1018,1018,1018,1018,16,0,0,1

In [30]:
Y_train = train1.iloc[:, -1]  

# Independent Variables
X_train = train1.iloc[:,0 : -1]

# Independent Variables for Test Set
X_test = test1.iloc[:,:]

In [31]:
Y_train=np.asarray(Y_train)

In [32]:
from sklearn.preprocessing import StandardScaler
Sc=StandardScaler()
X_train=Sc.fit_transform(X_train)

X_test=Sc.fit_transform(X_test)

Y_train = Y_train.reshape((len(Y_train), 1)) 

Y_train = Sc.fit_transform(Y_train)

Y_train = Y_train.ravel()

C:\Users\shubham\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int32, object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\shubham\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int32, object were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\shubham\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int32, object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\shubham\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int32, object were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\shubham\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\shubham\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [33]:
#from sklearn.ensemble import GradientBoostingRegressor

gbr=GradientBoostingRegressor( loss = 'huber',learning_rate=0.001,n_estimators=6000, max_depth=6
                              ,subsample=1,
                              verbose=False,random_state=126)                                                                # Leaderboard SCORE :  0.8364249755816828 @ RS =126 ,n_estimators=350, max_depth=6

gbr.fit(X_train,Y_train)

y_pred_gbr =Sc.inverse_transform (gbr.predict(X_test))

NameError: name 'GradientBoostingRegressor' is not defined

In [34]:
y_pred_gbr = pd.DataFrame(y_pred_gbr, columns = ['Fees']) # Converting to dataframe
print(y_pred_gbr.head())

NameError: name 'y_pred_gbr' is not defined

In [35]:
y_pred_gbr.to_excel("D:/f22.xlsx", index = False ) # Saving the output in to an excel

NameError: name 'y_pred_gbr' is not defined

In [36]:
0  248.075852
1  335.629721
2  357.032379
3  213.528799
4  299.898247

SyntaxError: invalid syntax (<ipython-input-36-eb0cd62b83cb>, line 1)

In [37]:
import xgboost as xgb

In [38]:
best_xgb_model = xgb.XGBRegressor(colsample_bytree=0.4,
                 gamma=0,                 
                 learning_rate=0.001,
                 max_depth=6,
                 min_child_weight=1.5,
                 n_estimators=6000,                                                                    
                 reg_alpha=0.75,
                 reg_lambda=0.45,
                 subsample=0.6,
                 seed=42)
best_xgb_model.fit(X_train,Y_train)
preds=Sc.inverse_transform (best_xgb_model.predict(X_test))

In [40]:
y_pred = pd.DataFrame(preds, columns = ['Fees']) # Converting to dataframe
print(y_pred.head())

         Fees
0  286.840485
1  368.413086
2  370.743378
3  261.612854
4  286.296692

In [41]:
y_pred.to_excel("D:/f33.xlsx", index = False ) # Saving the output in to an excel